.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

form { 
    margin-right: 25px;
    padding: 50px;
    border: solid; 
    border-width: 1px;
    border-color: rgb(41, 66, 136);
    border-radius: 5px;
    color: rgb(41, 66, 136)
  }

  input {
    font-size: 20px;
    margin: 3px;
    padding: 3px;
}

button {
    background-color: rgb(41, 66, 136);
    color: white;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 5px;
    }

button:hover {
    background-color: rgb(7, 55, 211)
}