/* Navigation Section */
.navBar {
    width: 100vw;
    background-color: rgb(41, 48, 117);
    color: white;
    font-size: 24px;
    padding: 10px;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
  }
  nav ul li {
    list-style-type: none;
    margin-right: 2em;
  }
  nav ul li:hover {
    color: rgb(65, 153, 255)
  }
  nav ul li:active {
    background-color: rgb(65, 153, 255);
  }
  

